In [2]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler


# Load CIFAR-10 dataset using TensorFlow
(train_images, train_labels), _ = tf.keras.datasets.cifar10.load_data()


# Flatten images based on RGB channels
num_samples = train_images.shape[0]  # Number of samples (images)
num_pixels = train_images.shape[1] * train_images.shape[2] * train_images.shape[3]  # Number of pixels per image

# Reshape the images to 1D arrays
flattened_images = train_images.reshape(num_samples, num_pixels)

# Print the shape of the flattened images
print("Shape of flattened images array:", flattened_images.shape)

# Flatten images based on RGB channels
num_samples = train_images.shape[0]  # Number of samples (images)
num_pixels = train_images.shape[1] * train_images.shape[2] * train_images.shape[3]  # Number of pixels per image

# Reshape the images to 1D arrays
flattened_images = train_images.reshape(num_samples, num_pixels)

# Create a DataFrame with pixel values and labels
df_images = pd.DataFrame(flattened_images)

# Add the label column to the DataFrame
df_images['Label'] = train_labels.flatten()

# Display the DataFrame
df_images

Shape of flattened images array: (50000, 3072)

,0,1,2,3,4,5,6,7,8,9,...,3063,3064,3065,3066,3067,3068,3069,3070,3071,Label
0,59,62,63,43,46,45,50,48,43,68,...,216,184,140,151,118,84,123,92,72,6
1,154,177,187,126,137,136,105,104,95,102,...,143,133,139,143,134,142,143,133,144,9
2,255,255,255,253,253,253,253,253,253,253,...,78,85,83,79,85,83,80,86,84,9
3,28,25,10,37,34,19,38,35,20,42,...,54,47,28,63,56,37,72,65,46,4
4,170,180,198,168,178,196,177,185,203,183,...,75,79,82,71,75,78,73,77,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,145,161,194,151,166,199,156,171,205,155,...,39,41,56,36,38,53,37,39,54,2
49996,255,245,132,254,247,134,255,249,137,254,...,249,174,79,252,181,81,253,181,76,6
49997,35,178,235,40,176,239,42,176,241,39,...,27,52,77,21,43,66,12,31,50,9
49998,189,211,240,186,208,236,185,207,235,184,...,195,184,169,196,189,171,195,190,171,1
49999,229,229,239,236,237,247,234,236,247,231,...,179,177,173,164,164,162,163,163,161,1

In [3]:

# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler to the features (excluding the 'Label' column)
scaler.fit(df_images.drop('Label', axis=1))

# Transform the features
scaled_features = scaler.transform(df_images.drop('Label', axis=1))

# Create a new DataFrame with the scaled features
df_images_scaled = pd.DataFrame(scaled_features, columns=df_images.columns[:-1])

# Add the 'Label' column to the scaled DataFrame
df_images_scaled['Label'] = df_images['Label']

# Display the DataFrame
df_images=df_images_scaled

df_images

,0,1,2,3,4,5,6,7,8,9,...,3063,3064,3065,3066,3067,3068,3069,3070,3071,Label
0,-0.976824,-1.015758,-0.864571,-1.202901,-1.243973,-1.091163,-1.121963,-1.231216,-1.127749,-0.882707,...,1.395088,0.946620,0.403264,0.380740,-0.123197,-0.458600,-0.056050,-0.540320,-0.641402,6
1,0.317240,0.561588,0.676780,-0.057154,0.021664,0.052093,-0.360611,-0.449900,-0.473116,-0.410588,...,0.253645,0.118572,0.387855,0.256086,0.135572,0.430806,0.251995,0.114124,0.448238,9
2,1.693034,1.631441,1.522036,1.695976,1.635002,1.521992,1.688121,1.628957,1.515960,1.686173,...,-0.762709,-0.660768,-0.475092,-0.741144,-0.656910,-0.473935,-0.718346,-0.636092,-0.459796,9
3,-1.399097,-1.523252,-1.523374,-1.285726,-1.410870,-1.417807,-1.288077,-1.412593,-1.417298,-1.243738,...,-1.137978,-1.277745,-1.322628,-0.990451,-1.125930,-1.179326,-0.841564,-0.971295,-1.034884,4
4,0.535188,0.602736,0.813512,0.522621,0.591895,0.805887,0.636070,0.680217,0.886505,0.714164,...,-0.809617,-0.758185,-0.490501,-0.865797,-0.818641,-0.550608,-0.826162,-0.779750,-0.520331,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0.194644,0.342131,0.763791,0.287950,0.424998,0.843577,0.345371,0.484888,0.911684,0.325361,...,-1.372521,-1.375162,-0.891155,-1.411157,-1.417046,-0.933973,-1.380642,-1.386307,-0.913812,2
49996,1.693034,1.494280,-0.006884,1.709780,1.551553,0.026966,1.715807,1.573149,0.055626,1.700059,...,1.911083,0.784258,-0.536731,1.954493,0.895709,-0.504604,1.946241,0.880301,-0.580867,6
49997,-1.303745,0.575304,1.273431,-1.244313,0.564079,1.346107,-1.232706,0.554648,1.364891,-1.285396,...,-1.560155,-1.196563,-0.567550,-1.644883,-1.336181,-0.734623,-1.765698,-1.514004,-0.974348,9
49998,0.794000,1.027934,1.335582,0.771096,1.009138,1.308417,0.746812,0.987162,1.289356,0.728050,...,1.066728,0.946620,0.850147,1.081917,1.025093,0.875510,1.052911,1.023960,0.856853,1
49999,1.338869,1.274823,1.323152,1.461305,1.412473,1.446613,1.425108,1.391772,1.440425,1.380684,...,0.816548,0.832966,0.911786,0.583302,0.620766,0.737498,0.560040,0.592985,0.705514,1

In [4]:
### Checking if the data if normally distributed or not...

## ERROR: Out of Memory

# from pingouin import multivariate_normality
# # Example dataset (replace with your actual data)
# data = df_images.iloc[:, :-1]  # Features (exclude the last column)

# # Perform the Multivariate Normality Test
# result = multivariate_normality(data, alpha=0.05)

# # Extract relevant information
# hz_statistic = result['hz']
# p_value = result['pval']
# is_normal = result['normal']

# # Print the results
# print(f"HzResults (hz={hz_statistic:.6f}, pval={p_value:.6f}, normal={is_normal})")

# # Interpretation
# if p_value > 0.05:
#     print("The data follows a multivariate normal distribution.")
# else:
#     print("The data does not follow a multivariate normal distribution.")

In [5]:
def dividingIntoClasses(df_images):
    """
    Creates separate DataFrames for each class based on the 'Label' column in the input DataFrame using Dictionary as a Dataform to store.

    Args:
        df_images (pandas.DataFrame): The input DataFrame containing image data.

    Returns:
        dict: A dictionary where keys are class labels and values are DataFrames containing data for each class.
    """
    class_dataframes = {}
    for class_label in range(10):
        class_dataframes[class_label] = df_images[df_images['Label'] == class_label]
    return class_dataframes

# Example usage:
# Assuming df_images is your original DataFrame
class_dataframes = dividingIntoClasses(df_images)
# Example: Access the DataFrame for class 'Airplane' (label 0)
airplane_df = class_dataframes[0]
print("Shape of Airplane DataFrame:", airplane_df.shape)
print(airplane_df)  # Display the first few rows

Shape of Airplane DataFrame: (5000, 3073)
              0         1         2         3         4         5         6  \
29     0.971083  0.931922  0.825942  0.991963  0.953506  0.843577  1.009825
30    -0.064168 -0.247659 -0.280349 -0.112371 -0.284314 -0.299678 -0.069912
35     1.638547  1.549144  1.459885  1.613151  1.523737  1.446613  1.605064
49     1.693034  1.631441  1.522036  1.723584  1.662818  1.547119  1.715807
77    -1.181150 -0.864882 -1.038594 -1.147684 -0.812822 -0.990657 -1.108121
...         ...       ...       ...       ...       ...       ...       ...
49921  1.693034  1.631441  1.522036  1.337067  1.301208  1.207911  1.189781
49930  1.693034  1.631441  1.522036  1.723584  1.662818  1.547119  1.715807
49941  0.834865  0.657601  0.453035  0.619250  0.577987  0.642565  0.442271
49992  0.330862  0.259835  0.279012  0.329363  0.258101  0.278231  0.317686
49994  0.344483  0.314699  0.390884  0.343167  0.313733  0.391300  0.345371

              7         8         9  ...      3063      3064      3065  \
29     0.973210  0.861327  1.033539  ...  1.754721  1.823377  1.990469
30    -0.240619 -0.271691 -0.063442  ...  0.019102 -0.108735 -0.074438
35     1.517340  1.440425  1.616744  ... -0.137260  0.037391 -1.214760
49     1.656861  1.541138  0.700278  ...  2.004900  2.099393  2.175386
77    -0.770798 -0.951501 -1.077108  ... -1.137978 -0.839366 -0.968204
...         ...       ...       ...  ...       ...       ...       ...
49921  1.210395  1.113109  1.186283  ...  1.520178  1.677251  1.805552
49930  1.656861  1.541138  1.713944  ...  2.004900  2.099393  2.175386
49941  0.443032  0.685080  0.408676  ...  0.425643 -0.027554 -0.290175
49992  0.247703  0.269640  0.311475  ...  0.112919 -0.124972 -0.660009
49994  0.317463  0.382942  0.339247  ...  0.410007  0.573187  0.757689

           3066      3067      3068      3069      3070      3071  Label
29     1.751931  1.817576  1.979601  1.746012  1.790137  1.946493      0
30    -0.008803 -0.123197 -0.105904 -0.086854 -0.205117 -0.187386      0
35    -0.226947 -0.058505 -1.240665 -0.333290 -0.077421 -1.337561      0
49     2.001238  2.092519  2.163616  1.977045  2.061492  2.128099      0
77    -1.115105 -0.834814 -0.949307 -1.242022 -0.955332 -1.080285      0
...         ...       ...       ...       ...       ...       ...    ...
49921  1.518205  1.655845  1.780251  1.545783  1.678403  1.780020      0
49930  2.001238  2.092519  2.163616  1.977045  2.061492  2.128099      0
49941  0.396322 -0.009986 -0.243916  0.267397 -0.093383 -0.308457      0
49992  0.131432 -0.123197 -0.642615  0.128777 -0.125307 -0.641402      0
49994  0.396322  0.556073  0.737498  0.390615  0.545099  0.720648      0

[5000 rows x 3073 columns]